.Weather {
  background: rgb(218, 212, 247);
  font-family: "Poppins", sans-serif;
  border-radius: 16px;
  max-width: 100;
  border: 2px solid rgba(134, 134, 206, 0.6);
  box-shadow: 0px 30px 50px rgba(115, 115, 180, 0.6);
  padding: 30px;
}

.Weather h1,
h2,
h5 {
  color: #27252c;
}

.Weather h1 {
  font-size: 42px;
  font-weight: 700;
}
.Weather h2 {
  font-size: 52px;
  font-weight: 700;
  color: #27252c;
}

.Weather h5 {
  font-size: 18px;
}
.Weather li {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: rgba(46, 45, 49, 0.9);
}

.Weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather strong {
  color: #b92cb5;
}

.Weather .toggle-btn {
  color: #b92cb5;
  font-size: 16px;
  font-weight: 700;
}

.Weather .form-control {
  font-size: 14px;
  background: rgba(196, 188, 235, 0.8);
  font-weight: 400;
  justify-content: center;
  color: #55559c;
  border: none;
  padding: 10px;
}

.Weather .submit-btn {
  background: #7474b6;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  border: none;
  font-size: 14px;
  color: white;
}

.Weather .unit {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  top: -22px;
}

.Weather .Footer {
  color: #2e2d31;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.Weather .Footer a {
  color: #55559c;
  font-weight: 700;
}

.Weather .temp-min {
  color: #55559c;
  font-size: 16px;
  font-weight: 400;
}

.Weather .temp-max {
  font-size: 16px;
}
